<section id="features">
  <h2>Our Features</h2>
  <div class="feature-cards">
    <div class="card">
      <img src="https://img.wongnai.com/p/1920x0/2021/01/13/f001eab0c36742f2a0a36b5780db148b.jpg" alt="Feature 1">
      <h3>Feature 1</h3>
      <p>Description of Feature 1</p>
    </div>
    <div class="card">
      <img src="https://img.wongnai.com/p/1920x0/2021/01/13/f001eab0c36742f2a0a36b5780db148b.jpg" alt="Feature 2">
      <h3>Feature 2</h3>
      <p>Description of Feature 2</p>
    </div>
    <div class="card">
      <img src="https://img.wongnai.com/p/1920x0/2021/01/13/f001eab0c36742f2a0a36b5780db148b.jpg" alt="Feature 3">
      <h3>Feature 3</h3>
      <p>Description of Feature 3</p>
    </div>
  </div>
</section>
