<section id="recipes">
    <h2>Our Recipes</h2>
    <div class="recipe-cards">
      <div class="card">
        <img src="https://img.kapook.com/u/2016/surauch/cook1/u5_2.jpg" alt="Recipe 1">
        <h3>Recipe 1</h3>
        <p>Description of Recipe 1</p>
      </div>
      <div class="card">
        <img src="https://img.wongnai.com/p/1920x0/2019/04/19/cccd10b3b16b4b3aa0bc262517cf94a8.jpg" alt="Recipe 2">
        <h3>Recipe 2</h3>
        <p>Description of Recipe 2</p>
      </div>
      <div class="card">
        <img src="https://img.wongnai.com/p/1920x0/2021/01/13/f001eab0c36742f2a0a36b5780db148b.jpg" alt="Recipe 3">
        <h3>Recipe 3</h3>
        <p>Description of Recipe 3</p>
      </div>
    </div>
  </section>
  