<section id="testimonials">
  <h2>What Our Users Say</h2>
  <div class="testimonials">
    <div class="testimonial">
      <img src="https://s359.kapook.com/pagebuilder/dd8fa42d-01a2-48c1-b146-a0770bf7d499.jpg" alt="User 1">
      <p>"Yum has changed my cooking experience!" - User 1</p>
    </div>
    <div class="testimonial">
      <img src="https://s359.kapook.com/pagebuilder/dd8fa42d-01a2-48c1-b146-a0770bf7d499.jpg" alt="User 2">
      <p>"Great recipes and easy to follow." - User 2</p>
    </div>
  </div>
</section>
